.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.buttonCat {
  width: 100px;
  height: 50px;
  background-color: red;
}

.buttonDog {
  width: 100px;
  height: 50px;
  background-color: blue;
}

.container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
